___
# Exercício: Duas variáveis quantitativas com Discriminação Salarial
___

## Aula 04

<div id="indice"></div>

## Índice

- [Discriminação Salarial](#discriminacao-salarial)
    - [Exercício 1](#ex1) **- APS2 disponível no Blackboard**
    - [Exercício 2](#ex2) 
    - [Exercício 3](#ex3) **- APS2 disponível no Blackboard**
    - [Exercício 4](#ex4) **- APS2 disponível no Blackboard**
    - [Exercício 5](#ex5) **- APS2 disponível no Blackboard**
    - [Exercício 6](#ex6) **- APS2 disponível no Blackboard**
    - [Exercício 7](#ex7)
    - [Exercício 8](#ex8)
    - [Exercício 9 [EXTRA]](#ex9)
    - [Exercício 10 [EXTRA]](#ex10)
    - [Exercício 11 [EXTRA]](#ex11)

<div id="discriminacao-salarial"></div>

## <font color='blue'>Discriminação Salarial</font>

Uma empresa está sendo **acusada de pagar um salário maior para os homens do que para as mulheres**. 
Para justificar a acusação, apresentou-se uma lista de salários de uma amostra de funcionários. 
**Essa empresa tem motivos para se preocupar?**

A base de dados `Discriminação.xlsx` apresenta, para cada funcionário, as variáveis:

1. Sexo (`'fem'` ou `'masc'`);
2. Anos (anos no emprego); e 
3. Salario (salário mensal, em milhares de reais). 
___

In [1]:
%matplotlib inline
import math
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\quezi\OneDrive\Área de Trabalho\CD21-2\aula04

In [2]:
# %matplotlib inline
import math
import os

import matplotlib.pyplot as plt
import numpy as np
from numpy import arange
import pandas as pd

from IPython.display import display  # Para ter melhor print.

In [3]:
# %matplotlib inline
import math
import os

import matplotlib.pyplot as plt
import numpy as np
from numpy import arange
import pandas as pd

from IPython.display import display  # Para ter melhor print.

In [4]:
dados = pd.read_excel('Discriminacao.xlsx')

In [5]:
dados.head()

  Sexo  Anos  Salario
0  fem     9       39
1  fem     6       36
2  fem    10       40
3  fem     0       24
4  fem     9       36

___

<div id="ex1"></div>

### EXERCÍCIO 1:

Vamos começar com uma análise descritiva utilizando as ferramentas estatísticas e computacionais que vimos até o momento. Faça essa análise com olhar na preocupação da empresa. Imprima as medidas resumo de posição (média, quartis, máximo, mínimo) e de dispersão (desvio padrão) para o `Salario` dos seguintes grupos:

1. Conjunto de dados inteiro
2. Somente mulheres
3. Somente homens

**Preencha os valores das 3 médias na questão 1 da APS2, no Blackboard**.

In [6]:
# Escreva seu código aqui
dados.describe()

            Anos    Salario
count  67.000000  67.000000
mean    9.194030  38.343284
std     6.851761  10.221119
min     0.000000  22.000000
25%     4.000000  31.000000
50%     9.000000  37.000000
75%    13.500000  42.000000
max    27.000000  69.000000

In [7]:
dados_feminino = dados.loc[dados.Sexo == 'fem']
dados_feminino.describe()

            Anos    Salario
count  32.000000  32.000000
mean    6.937500  35.468750
std     4.858896   7.422652
min     0.000000  22.000000
25%     3.000000  29.750000
50%     6.500000  35.000000
75%    10.000000  40.000000
max    17.000000  52.000000

In [8]:
dados_masculino = dados.loc[dados.Sexo == 'masc']
dados_masculino.describe()

            Anos    Salario
count  35.000000  35.000000
mean   11.257143  40.971429
std     7.773798  11.733526
min     0.000000  24.000000
25%     5.500000  33.000000
50%    11.000000  39.000000
75%    18.000000  47.000000
max    27.000000  69.000000

<div id="ex2"></div>

### EXERCÍCIO 2:

Baseando-se nos resultados acima, que hipóteses você pode formular quanto a suspeita de que a empresa está pagando salários mais baixos às mulheres?

ESCREVA AQUI SUA RESPOSTA

<div id="ex3"></div>

### EXERCÍCIO 3:

Calcule os coeficientes de covariância entre as variáveis `Anos` e `Salario` para as mulheres e para os homens, separadamente. **Preencha os dois valores na questão 2 da APS2, no Blackboard**.

In [9]:
# Escreva seu código aqui

dados_feminino.Anos.cov(dados_feminino.Salario)

28.933467741935484

In [15]:
dados_masculino.Anos.cov(dados_masculino.Salario)

61.4781512605042

<div id="ex4"></div>

### EXERCÍCIO 4:

Baseando-se nos **coeficientes de covariância** acima, você pode concluir que (indique todas as opções corretas):

<ol style="list-style-type: upper-alpha;">
    <li>Existe uma associação linear <b>negativa</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>negativa</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
    <li>Existe uma associação linear <b>positiva</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>positiva</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
    <li>Existe uma associação linear <b>fraca</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>fraca</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
    <li>Existe uma associação linear <b>moderada/forte</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>moderada/forte</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
</ol>

**Indique sua resposta na questão 3 da APS2, no Blackboard.**

ESCREVA SUA RESPOSTA AQUI

<div id="ex5"></div>

### EXERCÍCIO 5:

Calcule os coeficientes de correlação linear entre as variáveis `Anos` e `Salario` para as mulheres e para os homens, separadamente. **Preencha os dois valores na questão 4 da APS2, no Blackboard**.

In [18]:
dados_feminino.Anos.corr(dados_feminino.Salario)

0.8022389898226462

In [16]:
# Escreva seu código aqui

dados_masculino.Anos.corr(dados_masculino.Salario)

0.6739986401774646

<div id="ex6"></div>

### EXERCÍCIO 6:

Baseando-se nos **coeficientes de correlação linear** acima, você pode concluir que (indique todas as opções corretas):

<ol style="list-style-type: upper-alpha;">
    <li>Existe uma associação linear <b>negativa</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>negativa</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
    <li>Existe uma associação linear <b>positiva</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>positiva</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
    <li>Existe uma associação linear <b>fraca</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>fraca</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
    <li>Existe uma associação linear <b>moderada/forte</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>moderada/forte</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
</ol>

**Indique sua resposta na questão 5 da APS2, no Blackboard.**

ESCREVA SUA RESPOSTA AQUI

<div id="ex7"></div>

### EXERCÍCIO 7:

Gere os gráficos de dispersão de anos na empresa versus salário mensal para as mulheres e para os homens. Utilize cores diferentes para cada grupo e gere o gráfico em uma figura única.

In [11]:
# Escreva seu código aqui

<div id="ex8"></div>

### EXERCÍCIO 8:

Como as informações do gráfico acima se relacionam às suas hipóteses no [exercício 2](#ex2)? Você mudaria a sua opinião quanto à suspeita de discriminação salarial? Explique.

ESCREVA AQUI SUA RESPOSTA

<div id="ex9"></div>

### EXERCÍCIO 9 [EXTRA]:

Vamos analisar os dados divididos por faixas de anos na empresa. Crie uma nova coluna `'Faixa'` em `dados` contendo as faixas de anos na empresa. Divida a variável `Anos` em tantas faixas necessárias necessárias para iniciar em 0 (inclusive) e terminar em 30 (exclusive) com amplitude das faixas de 3 anos. *Dica: use a função `pd.cut` e altere alguns argumentos dessa função*.

In [12]:
# Escreva seu código aqui
faixa1 = arange(0,30,3)

dados_para_anos = pd.cut(dados.Anos, bins = faixa1, right=False)

In [13]:
dados_para_anos.value_counts()

[6, 9)      12
[0, 3)      12
[9, 12)     11
[3, 6)       9
[12, 15)     8
[18, 21)     5
[15, 18)     5
[21, 24)     3
[24, 27)     1
Name: Anos, dtype: int64

<div id="ex10"></div>

### EXERCÍCIO 10 &#x2605;&#x2605;&#x2605; [EXTRA]:

Imprima as mesmas estatísticas do [exercício 1](#ex1) (salários de todas as pessoas da base de dados, salários das mulheres e salários dos homens), mas agora agrupando por `Faixa`. *Dica: use a função `.groupby` de um `DataFrame`.*

In [14]:
# Escreva seu código aqui

<div id="ex11"></div>

### EXERCÍCIO 11 [EXTRA]:

O resultado acima dá indícios para confirmar ou rejeitar a sua hipótese do [exercício 8](#ex8)?

ESCREVA AQUI SUA RESPOSTA