___
# Atividade: Análise Exploratória - Tipos de Variáveis e Medidas Resumo
___

## Aula 02

<div id="indice"></div>

## Índice

- [Empresa de TV](#empresa-de-tv)
    - [Tipos de variáveis](#tipos-de-variaveis)
    - [Exercício 1](#ex1)
- [Variáveis QUALITATIVAS](#quali)
    - [Definindo as variáveis qualitativas como categóricas](#definindo-as-variaveis-qualitativas-como-categoricas)
    - [Tabelas de frequências - Variáveis Qualitativas](#tab-freq-quali)
        - [Exercício 2](#ex2)
        - [Exercício 3](#ex3)
    - [Tabelas cruzadas entre variáveis qualitativas](#tabelas-cruzadas-entre-variaveis-qualitativas)
        - [Exercício 4](#ex4)
        - [Exercício 5](#ex5)
- [Variáveis QUANTITATIVAS](#quanti)
    - [Tabelas de frequências - Variáveis Quantitativas - CUIDADO](#tab-freq-quanti)
        - [Exercício 6](#ex6)   
    - [Medidas resumo](#medidas-resumo)
        - [Exercício 7](#ex7)
        - [Exercício 8](#ex8)
        - [Exercício 9](#ex9)
        - [Exercício 10](#ex10)
        - [Exercício 11](#ex11)
- [Lista de comandos utilizados neste notebook](#comandos)


___

<div id="empresa-de-tv"></div>

# Empresa de TV

Uma empresa de TV via satélite criou recentemente dois tipos de planos de canais (A e B).

A empresa tem como objetivo estudar o perfil dos clientes que aderiram ao plano para enviar malas diretas aos potenciais clientes de cada tipo de plano.

A base de dados apresenta algumas variáveis para uma amostra de 82 clientes selecionados aleatoriamente dentre aqueles que aderiram aos planos. As variáveis têm os seguintes significados:

* CLIENTE: identificador do cliente.
* PLANO: apresenta o plano adquirido pelo cliente – (1=A ou 2=B). 
* EC: apresenta estado civil do cliente no momento da adesão ao  plano – (1=Casado, 2=Solteiro e 3=Outros).
* SATISFACAO: grau de satisfação do cliente pelo plano – 
	(Muito insatisfeito, Insatisfeito, Indiferente, Satisfeito e Muito satisfeito).
* RENDA: renda pessoal do cliente, em milhares de reais.

O arquivo `EmpresaTV_Cod.xlsx` contém as variáveis descritas acima.

<div id="tipos-de-variaveis"></div>

## Tipos de variáveis

Antes de olhar os dados, vamos refletir sobre os tipos de cada variável disponível. Lembrando que temos:

- Variáveis qualitativas (ou categóricas):
    - Nominal
    - Ordinal
- Variáveis quantitativas (ou numéricas):
    - Discreta
    - Contínua

<div id="ex1"></div>

### EXERCÍCIO 1:

Classifique cada uma das variáveis disponíveis <font color="red">(modifique esta célula)</font>:

- PLANO: [Digite aqui sua resposta]
- EC: [Digite aqui sua resposta]
- SATISFACAO: [Digite aqui sua resposta]
- RENDA: [Digite aqui sua resposta]

___
Agora sim, vamos carregar os dados do arquivo:

In [1]:
%matplotlib inline
import pandas as pd
import os

# Para ter melhor print
from IPython.display import display

In [2]:
# Listando o diretório de trabalho. Lembre-se que o arquivo com a base de dados precisa estar neste diretório.
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\arthu\Desktop\Documentos\Insper\2º_Periodo\Ciencia_dos_dados\CD21-2-main\aula02

In [3]:
# Carregando os dados do arquivo
dados = pd.read_excel('EmpresaTV_Cod.xlsx')

In [4]:
# Visualizando as primeiras linhas
dados.head(3)

   CLIENTE  PLANO  EC        SATISFACAO  RENDA  Unnamed: 5  Unnamed: 6
0        1      1   1  Muito Satisfeito   21.4         NaN         NaN
1        2      1   2  Muito Satisfeito   17.2         NaN         NaN
2        3      1   3  Muito Satisfeito   15.6         NaN         NaN

In [5]:
dados.dtypes

CLIENTE         int64
PLANO           int64
EC              int64
SATISFACAO     object
RENDA         float64
Unnamed: 5    float64
Unnamed: 6    float64
dtype: object

[Volta ao Índice](#indice)

<div id="quali"></div>

___

# Variáveis QUALITATIVAS

___

<div id="definindo-as-variaveis-qualitativas-como-categoricas"></div>

## Definindo as variáveis qualitativas como categóricas

No [primeiro exercício](#ex1) você deve ter identificado as variáveis PLANO, EC e SATISFACAO como qualitativas (ou categóricas). O pandas não tem como saber dessa informação ao carregar os dados, então precisamos modificar as colunas explicitamente.

<div id="astype"></div>

A função `.astype` devolve uma cópia da coluna (`Series`) convertida para o tipo desejado. Por exemplo, para transformar uma coluna em categórica devemos utilizar `.astype('category')`.

In [6]:
dados['PLANO'] = dados['PLANO'].astype('category')
dados['EC'] = dados['EC'].astype('category')
dados['SATISFACAO'] = dados['SATISFACAO'].astype('category')
# A próxima linha é desnecessária, pois a coluna já era do tipo float, mas 
# queremos mostrar que é possível utilizar outros tipos.
dados['RENDA'] = dados['RENDA'].astype('float')

In [7]:
dados.dtypes

CLIENTE          int64
PLANO         category
EC            category
SATISFACAO    category
RENDA          float64
Unnamed: 5     float64
Unnamed: 6     float64
dtype: object

O uso de códigos numéricos é útil para determinadas finalidades, mas pode dificultar a compreensão. Vamos substituir os códigos numéricos pelos respectivos nomes.

<div id="categories"></div>

Agora que transformamos as colunas qualitativas em categóricas, podemos listar as categorias com `.cat.categories`:

In [8]:
dados.PLANO.cat.categories

Int64Index([1, 2], dtype='int64')

In [9]:
# Exemplo com a coluna PLANO
dados['PLANO'].cat.categories

Int64Index([1, 2], dtype='int64')

<div id="satisfacao-categoria"></div>

Podemos substituir os códigos todos de uma vez da seguinte maneira:

In [10]:
# Exemplo com a coluna PLANO
dados['PLANO'].cat.categories = ['A', 'B']


# Visualizando o resultado
dados['PLANO'].cat.categories

Index(['A', 'B'], dtype='object')

Note que essa ação atualiza todos os valores dessa coluna no `DataFrame`:

In [11]:
dados['PLANO']

0     A
1     A
2     A
3     A
4     A
     ..
77    B
78    B
79    B
80    B
81    B
Name: PLANO, Length: 82, dtype: category
Categories (2, object): ['A', 'B']

In [12]:
dados.head(5)

   CLIENTE PLANO EC        SATISFACAO  RENDA  Unnamed: 5  Unnamed: 6
0        1     A  1  Muito Satisfeito   21.4         NaN         NaN
1        2     A  2  Muito Satisfeito   17.2         NaN         NaN
2        3     A  3  Muito Satisfeito   15.6         NaN         NaN
3        4     A  1        Satisfeito   10.4         NaN         NaN
4        5     A  2  Muito Satisfeito   17.6         NaN         NaN

**Aplicação:** Faça o mesmo para a coluna `EC`:

In [13]:
# Exemplo com a coluna EC
dados['EC'].cat.categories = ['CASADO', 'SOLTEIRO','OUTROS']
# Visualizando o resultado
# dados['EC'].to_frame()

In [14]:
dados.EC.value_counts().to_frame()

          EC
CASADO    36
SOLTEIRO  33
OUTROS    13

In [15]:
dados.head()

   CLIENTE PLANO        EC        SATISFACAO  RENDA  Unnamed: 5  Unnamed: 6
0        1     A    CASADO  Muito Satisfeito   21.4         NaN         NaN
1        2     A  SOLTEIRO  Muito Satisfeito   17.2         NaN         NaN
2        3     A    OUTROS  Muito Satisfeito   15.6         NaN         NaN
3        4     A    CASADO        Satisfeito   10.4         NaN         NaN
4        5     A  SOLTEIRO  Muito Satisfeito   17.6         NaN         NaN

In [16]:
dados.SATISFACAO.value_counts(sort=False)

Indiferente           19
Insatisfeito          16
Muito Insatisfeito     8
Muito Satisfeito      12
Satisfeito            27
Name: SATISFACAO, dtype: int64

[Volta ao Índice](#indice)

---

<div id="ordered"></div>

## Nominal versus ordinal

Já definimos que as variáveis PLANO, EC e SATISFACAO são categóricas ou qualitativas. Porém, como definir no Pandas se essas variáveis são nominais (onde não existe uma ordenação natural) ou ordinais (em que existe ordenação)?

A informação de que uma variável categórica deve ser nominal ou ordinal está no atributo `.cat.ordered` da variável. Por padrão, quando definimos que uma variável é categórica o Pandas supõe que seja nominal (sem ordem). Confira:

In [17]:
dados['PLANO'].cat.ordered

False

In [18]:
dados['EC'].cat.ordered

False

In [19]:
dados['SATISFACAO'].cat.ordered

False

Contudo, a variável SATISFACAO é ordinal! Para converter esta variável de nominal para ordinal devemos usar o comando `pd.Categorical()`:

In [20]:
dados['SATISFACAO'] = pd.Categorical(dados.SATISFACAO, 
                                     categories = ['Muito Insatisfeito', 'Insatisfeito', 'Indiferente', 
                                                   'Satisfeito', 'Muito Satisfeito'], 
                                     ordered=True) # força a variavel a ser ordinal, de acordo com a ordem dada

In [21]:
dados.head()

   CLIENTE PLANO        EC        SATISFACAO  RENDA  Unnamed: 5  Unnamed: 6
0        1     A    CASADO  Muito Satisfeito   21.4         NaN         NaN
1        2     A  SOLTEIRO  Muito Satisfeito   17.2         NaN         NaN
2        3     A    OUTROS  Muito Satisfeito   15.6         NaN         NaN
3        4     A    CASADO        Satisfeito   10.4         NaN         NaN
4        5     A  SOLTEIRO  Muito Satisfeito   17.6         NaN         NaN

In [22]:
dados['SATISFACAO'].cat.ordered

True

In [23]:
dados['SATISFACAO']

0       Muito Satisfeito
1       Muito Satisfeito
2       Muito Satisfeito
3             Satisfeito
4       Muito Satisfeito
             ...
77          Insatisfeito
78          Insatisfeito
79          Insatisfeito
80          Insatisfeito
81    Muito Insatisfeito
Name: SATISFACAO, Length: 82, dtype: category
Categories (5, object): ['Muito Insatisfeito' < 'Insatisfeito' < 'Indiferente' < 'Satisfeito' < 'Muito Satisfeito']

In [24]:
dados.SATISFACAO.value_counts(sort = False)

Muito Insatisfeito     8
Insatisfeito          16
Indiferente           19
Satisfeito            27
Muito Satisfeito      12
Name: SATISFACAO, dtype: int64

Observe que agora o relatório informa que 'Muito insatisfeito' vem antes de 'Insatisfeito', etc.

[Volta ao Índice](#indice)

<div id="tab-freq-quali"></div>

___
## Tabelas de frequências - Variáveis Qualitativas

Agora estamos prontos para começar nossa análise. Uma primeira pergunta que podemos nos fazer é: dos 82 clientes selecionados, quantos aderiram ao plano A e quantos aderiram ao plano B? Para isso podemos utilizar uma tabela de frequências.

<div id="value_counts"></div>

A função `.value_counts` pode ser utilizada para montar a tabela de frequências **de uma coluna**.

In [25]:
dados['PLANO'].value_counts().to_frame()

   PLANO
A     46
B     36

<div id="ex2"></div>

### EXERCÍCIO 2:

Na célula acima obtivemos a tabela de frequências absoluta. Pesquise na documentação da função `value_counts` (deve ser o primeiro resultado ao buscar por "pandas value_counts" em sua engine de busca de preferência) como obter a tabela de frequências relativas.

**DICA:** Não feche a documentação da função `value_counts`. Você ainda vai precisar dela.

In [26]:
dados.dtypes

CLIENTE          int64
PLANO         category
EC            category
SATISFACAO    category
RENDA          float64
Unnamed: 5     float64
Unnamed: 6     float64
dtype: object

In [27]:
# # ESCREVA SEU CODIGO AQUI
# ls = ['PLANO','EC','SATISFACAO']
# for info in ls:
#     dados[info].value_counts(normalize=True)
#     print(dados[info])
#     print("\n")

for col in dados.columns:
    if hasattr(dados[col],'cat'):
        print(col, ":")
        print(dados[col].value_counts(normalize=True,sort=False).round(4)*100,"\n")

PLANO :
A    56.1
B    43.9
Name: PLANO, dtype: float64

EC :
CASADO      43.90
SOLTEIRO    40.24
OUTROS      15.85
Name: EC, dtype: float64

SATISFACAO :
Muito Insatisfeito     9.76
Insatisfeito          19.51
Indiferente           23.17
Satisfeito            32.93
Muito Satisfeito      14.63
Name: SATISFACAO, dtype: float64

[Volta ao Índice](#indice)

...

Queremos saber quantos clientes se enquadram em cada um dos graus de satisfação. Já sabemos que podemos utilizar a função `value_counts`:

In [28]:
dados['SATISFACAO'].value_counts()

Satisfeito            27
Indiferente           19
Insatisfeito          16
Muito Satisfeito      12
Muito Insatisfeito     8
Name: SATISFACAO, dtype: int64

**A seguir, algumas maneiras para obter index (rótulo das linhas) de uma tabela:**

In [29]:
dados['SATISFACAO'].value_counts().index.values

['Satisfeito', 'Indiferente', 'Insatisfeito', 'Muito Satisfeito', 'Muito Insatisfeito']
Categories (5, object): ['Muito Insatisfeito' < 'Insatisfeito' < 'Indiferente' < 'Satisfeito' < 'Muito Satisfeito']

In [30]:
dados['SATISFACAO'].value_counts().keys()

CategoricalIndex(['Satisfeito', 'Indiferente', 'Insatisfeito',
                  'Muito Satisfeito', 'Muito Insatisfeito'],
                 categories=['Muito Insatisfeito', 'Insatisfeito', 'Indiferente', 'Satisfeito', 'Muito Satisfeito'], ordered=True, dtype='category')

**Aqui, algumas maneiras para obter o index e as frequências de uma tabela:**

In [31]:
tab = dados['SATISFACAO'].value_counts(sort=False)
tab

Muito Insatisfeito     8
Insatisfeito          16
Indiferente           19
Satisfeito            27
Muito Satisfeito      12
Name: SATISFACAO, dtype: int64

In [32]:
list(tab.index)

['Muito Insatisfeito',
 'Insatisfeito',
 'Indiferente',
 'Satisfeito',
 'Muito Satisfeito']

In [33]:
list(tab.values)

[8, 16, 19, 27, 12]

In [34]:
list(tab.iteritems())

[('Muito Insatisfeito', 8),
 ('Insatisfeito', 16),
 ('Indiferente', 19),
 ('Satisfeito', 27),
 ('Muito Satisfeito', 12)]

In [35]:
for val, cnt in tab.iteritems():
    print(f'Categoria {val} foi encontrada {cnt} vezes')

Categoria Muito Insatisfeito foi encontrada 8 vezes
Categoria Insatisfeito foi encontrada 16 vezes
Categoria Indiferente foi encontrada 19 vezes
Categoria Satisfeito foi encontrada 27 vezes
Categoria Muito Satisfeito foi encontrada 12 vezes

**Ver este [link](https://stackoverflow.com/questions/36973387/accessing-first-column-of-pandas-value-counts) para mais detalhes, por exemplo**

[Volta ao Índice](#indice)

<div id="ex3"></div>

### EXERCÍCIO 3:

A tabela de frequências absolutas acima nos dá a informação que precisamos, mas a ordem dos graus de satisfação dificulta a compreensão. Procure na documentação:

1. Por que a tabela foi apresentada nessa ordem;
1. Como fazer para não utilizar essa ordem (e utilizar a [ordem definida nas categorias](#satisfacao-categoria));
1. Escreva na célula abaixo o código que mostra a tabela de frequências **relativas** na ordem desejada.

In [36]:
# ESCREVA SEU CODIGO AQUI

[Volta ao Índice](#indice)

<div id="tabelas-cruzadas-entre-variaveis-qualitativas"></div>

___
## Tabelas cruzadas entre variáveis qualitativas

Nas tabelas de frequência já vimos quantos clientes aderiram a cada plano e quantos estão em cada grau de satisfação. Mas, lembrando do propósito inicial, a empresa quer estudar o perfil dos clientes de cada plano e, até agora, não adicionamos nenhum conhecimento novo.

Vamos mudar isso tentando responder a seguinte pergunta: como a satisfação dos clientes do plano A se compara à dos clientes do plano B?

<div id="crosstab"></div>

Podemos montar uma tabela cruzada de plano versus satisfação com a função `pd.crosstab`:

In [37]:
pd.crosstab(dados['PLANO'], dados['SATISFACAO'])

SATISFACAO,Muito Insatisfeito,Insatisfeito,Indiferente,Satisfeito,Muito Satisfeito
PLANO,,,,,
A,2,5,7,20,12
B,6,11,12,7,0

<div id="ex4"></div>

### EXERCÍCIO 4

Sabemos que a quantidade de clientes em cada plano na nossa amostra é diferente. Por esse motivo, não podemos comparar os valores absolutos. Procure a documentação da função `pd.crosstab` (busque por "pandas crosstab") e crie uma nova tabela cruzada:

- Que apresente as frequências relativas ao invés de absolutas para cada plano (ou seja, do total de clientes do plano A, qual é a frequência relativa de muito insatisfeitos, insatisfeitos, etc. e para o plano B?);
- Armazene o resultado em uma variável chamada `plano_x_satisfacao` (é importante que você utilize exatamente esse nome para que as próximas células funcionem).

In [38]:
# ESCREVA SEU CODIGO AQUI
pd.crosstab(dados['PLANO'], dados['SATISFACAO'],normalize = 'index', margins = True).round(4) * 100

SATISFACAO,Muito Insatisfeito,Insatisfeito,Indiferente,Satisfeito,Muito Satisfeito
PLANO,,,,,
A,4.35,10.87,15.22,43.48,26.09
B,16.67,30.56,33.33,19.44,0.00
All,9.76,19.51,23.17,32.93,14.63

Pode ser mais interessante visualizar esses dados como porcentagens. Para isso podemos multiplicar todas as frequências por 100 (por isso precisávamos guardar a tabela cruzada na variável `plano_x_satisfacao`):

In [39]:
plano_x_satisfacao_pct = plano_x_satisfacao*100
plano_x_satisfacao_pct

NameError: name 'plano_x_satisfacao' is not defined

Para deixar um pouco mais claro, vamos mostrar apenas as primeiras 2 casas decimais:

In [ ]:
plano_x_satisfacao_pct = plano_x_satisfacao_pct.round(decimals=2)
print('Tabela Cruzada por total por PLANO (em %):')
plano_x_satisfacao_pct

<div id="ex5"></div>

### EXERCÍCIO 5

Discuta a tabela cruzada obtida acima. Quais hipóteses você pode levantar? Por quê?

ESCREVA SUA RESPOSTA AQUI

[Volta ao Índice](#indice)

<div id="quanti"></div>

___

# Variáveis QUANTITATIVAS

___

<div id="tab-freq-quanti"></div>

## Tabelas de frequências - Variáveis Quantitativas - CUIDADO

Vamos ver o que acontece ao tentarmos montar a tabela de frequências da variável RENDA:

In [ ]:
dados['RENDA'].value_counts()

Deu ruim!

<div id="ex6"></div>

### EXERCÍCIO 6

Qual é o problema de tentarmos criar uma tabela de frequências para a variável RENDA?

ESCREVA SUA RESPOSTA AQUI

[Volta ao Índice](#indice)

<div id="medidas-resumo"></div>

___

## Medidas resumo

Ainda não consideramos a variável RENDA em nossa análise. Vimos em aula que é possível obter diversas medidas resumo a partir de variáveis quantitativas. Vamos explorar algumas delas para tentar compreender melhor os nossos dados.

<div id="ex7"></div>

### EXERCÍCIO 7

Antes de começar nossa análise, seria interessante comparar os resultados para cada plano separadamente. Para isso, vamos começar separando nosso `DataFrame` `dados` em dois `DataFrame`s diferentes. Crie quatro variáveis:

- `dados_a` contendo somente os dados dos clientes do plano A;
- `dados_b` contendo somente os dados dos clientes do plano B;
- `renda_a` contendo somente a renda dos clientes do plano A (dica: utilize a variável `dados_a`);
- `renda_b` contendo somente a renda dos clientes do plano B (dica: utilize a variável `dados_b`);

Qual é o tipo das variáveis `renda_a` e `renda_b`? São do tipo `DataFrame` ou algum outro tipo?

In [ ]:
dados.RENDA.describe()

In [ ]:
# ESCREVA SEU CODIGO AQUI
dados.RENDA.quantile(0.2)

[Volta ao Índice](#indice)

<div id="ex8"></div>

### EXERCÍCIO 8

<div id="mean-median-etc"></div>

O pandas disponibiliza diversas funções para o cálculo de medidas resumo. Alguns exemplos são: `mean`, `median`, `quantile`, `var`, `std`. Os nomes das funções dão uma boa dica do que elas fazem, mas, como sempre, é bom verificar a documentação do pandas para garantir que elas fazem o que você espera.

Imprima a média, o primeiro, segundo (mediana) e terceiro quartis e o desvio padrão das rendas do clientes do plano A e B, separadamente.

In [ ]:
# ESCREVA SEU CODIGO AQUI

[Volta ao Índice](#indice)

<div id="ex9"></div>

### EXERCÍCIO 9

<div id="describe"></div>

Uma função bastante útil para a análise exploratória é `.describe()`. Utilize a função `.describe()` com as rendas dos planos A e B e compare os resultados com os obtidos na célula anterior.

In [ ]:
# ESCREVA SEU CODIGO AQUI

[Volta ao Índice](#indice)

<div id="ex10"></div>

### EXERCÍCIO 10

Quais hipóteses você pode formular a partir das medidas resumo da renda dos clientes dos dois planos?

In [ ]:
#ESCREVA SUA RESPOSTA AQUI

ESCREVA SUA RESPOSTA AQUI

[Volta ao Índice](#indice)

<div id="ex11"></div>

### EXERCÍCIO 11

Se tentarmos executar o comando

    dados['EC'].mean()
    
vamos obter um erro. Por quê?

ESCREVA SUA RESPOSTA AQUI

[Volta ao Índice](#indice)

<div id="comandos"></div>

___

## Lista de comandos utilizados neste notebook

Os seguintes comandos foram utilizados neste jupyter notebook. Para facilitar sua consulta, escreva um resumo do que cada um deles faz:

- [`.astype`](#astype): ESCREVA AQUI O RESUMO
- [`.cat.categories`](#categories): ESCREVA AQUI O RESUMO
- [`.cat.ordered`](#ordered): ESCREVA AQUI O RESUMO
- [`.value_counts`](#value_counts): ESCREVA AQUI O RESUMO
- [`pd.crosstab`](#crosstab): ESCREVA AQUI O RESUMO
- [`.mean`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.median`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.quantile`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.var`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.std`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.describe`](#describe): ESCREVA AQUI O RESUMO