___
# Exercício: Exploratória para Manipular um DataFrame
___

## Aula 01

## Índice

- [Gapminder](#gap)
- [Exercício 1](#ex1) **- APS1 disponível no Blackboard**
- [Exercício 2](#ex2) **- APS1 disponível no Blackboard**
- [Resumo dos comandos](#resumo-comandos)

___
**IMPORTANTE**: os exercícios marcados com &#x2605;&#x2605;&#x2605; são mais difíceis e vão exigir que você aprenda novas funções do pandas. Recomendamos que vocês tentem fazer esses exercícios mesmo depois da aula.

<div id="gap"></div>

___

## Gapminder

Gapminder é uma fundação sueca independente, sem afiliações políticas, religiosas ou econômicas.
Possui diversas estatísticas socioeconômicas de quase todos países do mundo que podem ser facilmente obtidas por este [link](https://www.gapminder.org/data/).

Para visualizar relações entre alguns indicadores dos países, veja [aqui](https://www.gapminder.org/tools/)

O arquivo `Gapminder.xlsx` contém um *dataset* extraída do software R (mais detalhes [aqui](https://rdrr.io/cran/dslabs/man/gapminder.html)).

Essa base de dados precisa de algumas manipulações antes de iniciar a análise exploratória, entretanto, a mesma irá depender do problema traçado. Nesse *dataframe*, os indicadores estão mensurados para 185 países os quais se repetem entre os anos de 1960 e 2016.

In [2]:
# Importando as bibliotecas necessárias para esta atividade
import pandas as pd
import os

In [3]:
print(f'Esperamos trabalhar no diretório: \n{os.getcwd()}\n')

Esperamos trabalhar no diretório:
C:\Users\arthu\Desktop\Documentos\Insper\2º_Periodo\Ciencia_dos_dados\CD21-2-main\aula01

In [4]:
filename = 'Gapminder.xlsx'

if filename in os.listdir():
    print(f'Parece que o arquivo {filename} está na mesma pasta do notebook, yay!')
    
else:
    print(f'Não encontrei o arquivo {filename}')

Parece que o arquivo Gapminder.xlsx está na mesma pasta do notebook, yay!

In [5]:
gap = pd.read_excel('Gapminder.xlsx')

C:\Users\arthu\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Aqui, `gap` é uma variável do tipo `DataFrame`. Cada uma das colunas significa:

- **country**: nome do país;
- **year**: ano;
- **infant_mortality**: mortalidade infantil a cada 1000 nascidos;
- **life_expectancy**: expectativa de vida;
- **fertility**: número médio de filhos por mulher;
- **population**: população do país;
- **gpd**: PIB de acordo com World Bankdev;
- **continent**: continente;
- **region**: região geográfica.

In [6]:
gap.head()

,Unnamed: 0,country,year,infant_mortality,life_expectancy,fertility,population,gdp,continent,region
0,1,Albania,1960,115.40,62.87,6.19,1636054.0,NaN,Europe,Southern Europe
1,2,Algeria,1960,148.20,47.50,7.65,11124892.0,1.382815e+10,Africa,Northern Africa
2,3,Angola,1960,208.00,35.98,7.32,5270844.0,NaN,Africa,Middle Africa
3,4,Antigua and Barbuda,1960,NaN,62.97,4.43,54681.0,NaN,Americas,Caribbean
4,5,Argentina,1960,59.87,65.39,3.11,20619075.0,1.083223e+11,Americas,South America

<div id="ex1"></div>

___

### EXERCÍCIO 1

Faça as seguintes manipulações:
 1. Filtre apenas as linhas do ano 2010 e selecione as variáveis: `country`, `gdp`, `population` e `continent`
 1. Guarde o subconjunto anterior em um novo `DataFrame` chamado `gap2010` e, nele, crie a variável `gdp_cap` que contenha o PIB per capita.
 1. Encontre o país com menor PIB per capita em 2010. 
 1. **Preencha o valor do PIB per capita desse país no campo de resposta do questionário do Blackboard (APS1).**

**Dica**: use `gap.dtypes` para saber o tipo de cada variável. Ainda, consulte [aqui](https://cmdlinetips.com/2019/01/3-ways-to-add-new-columns-to-pandas-dataframe/) para entender como criar novas colunas em um *dataframe*.

In [7]:
gap.dtypes

Unnamed: 0            int64
country              object
year                  int64
infant_mortality    float64
life_expectancy     float64
fertility           float64
population          float64
gdp                 float64
continent            object
region               object
dtype: object

In [8]:
# Coloque seu código aqui...
# primeiro vamos filtrar o ano
ano_2010 = gap['year'] == 2010
# dentro de ano_2010 filtramos o ano, agora basta filtra as colunas que queremos
# array de linhas + " , " depois array de colunas
# usar " : " só para o fatiamento
gap2010 = gap.loc[ano_2010,['country','gdp','population','continent']]
# criando a nova coluna
# do data frame usando mesmo principio de dicionario podemos criar uma nova coluna
gap2010['per_capita_gdp'] = gap2010['gdp']/gap2010['population']
gap2010

                  country           gdp  population continent  per_capita_gdp
9250              Albania  6.137564e+09   2901883.0    Europe     2115.028051
9251              Algeria  7.916434e+10  36036159.0    Africa     2196.802928
9252               Angola  2.612566e+10  21219954.0    Africa     1231.183784
9253  Antigua and Barbuda  8.366868e+08     87233.0  Americas     9591.402074
9254            Argentina  4.344055e+11  41222875.0  Americas    10537.972673
...                   ...           ...         ...       ...             ...
9430   West Bank and Gaza           NaN   4068780.0      Asia             NaN
9431              Vietnam  6.283222e+10  88357775.0      Asia      711.111337
9432                Yemen  1.463827e+10  23591972.0      Asia      620.476544
9433               Zambia  5.587390e+09  13917439.0    Africa      401.466811
9434             Zimbabwe  4.032423e+09  13973897.0    Africa      288.568280

[185 rows x 5 columns]

In [9]:
gdp_cap = gap2010.loc[:,['country','per_capita_gdp']]
gdp_cap.sort_values(['per_capita_gdp']).head(5)

               country  per_capita_gdp
9287  Congo, Dem. Rep.      105.575083
9276           Burundi      122.492313
9319     Guinea-Bissau      149.550888
9302           Eritrea      164.429026
9373             Niger      170.708926

<div id="ex2"></div>

___

### EXERCÍCIO 2 &#x2605;&#x2605;&#x2605;

Faça as seguintes manipulações:
  1. Encontre os cinco maiores países (em tamanho populacional) do ano de 2015;
  1. Guarde apenas os nomes desses cinco países em uma lista;
  1. Considerando a base de dados com todos os anos, filtre as linhas que contenham apenas os cinco países dessa lista e com as colunas  `country`, `year`, `gdp` e `population`. Guarde esse subconjunto em `gap5`;
  1. No `DataFrame` `gap5`, crie a variável `dollar_day`, a qual representa uma *proxy* da renda per capita diária do país;
  1. **Preencha o valor da renda per capita diária de cada país no ano de 1960, em ordem crescente. no campo de resposta do questionário do Blackboard (APS1).**

**Dica**: Para filtrar as linhas apenas dos cinco países selecionados no item 1 deste exercício, pesquise por:
  - `isin`: retorna booleano se conteúdo da variável faz parte ou não de uma lista. Consulte sobre esse comando `isin` [aqui](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html)

In [10]:
# Coloque seu código aqui...
ano_2015 = gap['year'] == 2015
gap2015 = gap.loc[ano_2015,['country','population']]
gap2015.sort_values(['population'],ascending = False).head()

             country    population
10209          China  1.376049e+09
10251          India  1.311051e+09
10350  United States  3.217736e+08
10252      Indonesia  2.575638e+08
10197         Brazil  2.078475e+08

In [16]:
# usar o to_list para converter para lista
lis_paises = gap2015.sort_values(['population'],ascending = False).country.head(5).to_list()
gap5 = gap.loc[gap['country'].isin(lis_paises),['country','year','gdp','population']]
gap5

             country  year           gdp   population
22            Brazil  1960  1.053434e+11   72493585.0
34             China  1960  7.034853e+10  644450173.0
76             India  1960  8.104265e+10  449661874.0
77         Indonesia  1960  1.844892e+10   87792512.0
175    United States  1960  2.479391e+12  186176524.0
...              ...   ...           ...          ...
10382         Brazil  2016           NaN          NaN
10394          China  2016           NaN          NaN
10436          India  2016           NaN          NaN
10437      Indonesia  2016           NaN          NaN
10535  United States  2016           NaN          NaN

[285 rows x 4 columns]

In [13]:
gap5['dollar_day'] = gap5['gdp']/(gap5['population']*365)
ano_1960 = gap5['year'] == 1960
gap5 = gap5.loc[ano_1960,:]
gap5.sort_values(['dollar_day'],ascending = True)

           country  year           gdp   population  dollar_day
34           China  1960  7.034853e+10  644450173.0    0.299070
76           India  1960  8.104265e+10  449661874.0    0.493781
77       Indonesia  1960  1.844892e+10   87792512.0    0.575732
22          Brazil  1960  1.053434e+11   72493585.0    3.981207
175  United States  1960  2.479391e+12  186176524.0   36.486084

<div id="resumo-comandos"></div>

## Resumo dos Comandos

Aqui você encontra um resumo dos comandos apresentados neste notebook:

- [`dtypes`](#ex1): mostra o tipo de cada variável do *dataframe*.
- [`isin`](#ex2): avalia, por exemplo, se conteúdo de uma coluna do *dataframe* faz parte ou não de uma lista.